html, body {
  background-color:#ffffff;
}

#celciusButton{
  background-color: #4b4bce;
  color: white;
  height:60px;
  width:60px;
}
#fahrenheitButton{
  background-color: #b53b3b;
  color: white;
  height:60px;
  width:60px;
}

#search{
  font-size: 30px;
} 





